body {
  font-size: 18px;
}

h1 {
  font-size: 30px;
}


#gameContainer {
  width: 450px;
  height: 550px;
}

#display {
  padding: 30px;
}



#display li {
  display: inline-block;
  padding: 10px;
  font-size: 30px;
  height: 5px;
}


#buttons {
  padding: 20px;
}

#startButt {
  font-size: 20px;
  width: 250px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.letter {
  width: 40px;
  height: 40px;
  border-style: solid;
  padding: 4px;
  float: left;
  margin: 4px;
  font-size: 20px;
}

.letter-button-color {
  color: darkcyan;
  
}
.letter-wrong-color {
  color: red;
}


.disappear {
  visibility: hidden;
}